.product-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    border-radius: 20px;
    transition: 0.3s linear;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(0.95);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    background-color: white;
}

.product-image {
    display: block;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
}

hr {
    border: 0.5px solid rgba(0, 0, 0, 0.28);
    width: 100%;
}

.product-name {
    color: #333;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}

.product-category {
    font-size: 15px;
    color: #5426b8d8;
    margin-top: 0;
}

.product-price {
    font-size: 20px;
    color: #333;
}

.product-description {
    font-size: 15px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.add-to-cart-button {
    margin: 0 30px;
}