.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding:50px;
  margin-top: 20px;
  gap: 50px;
}

.logo-container{
  flex: 1;
  align-items: center;
  justify-content: center;
}

.input-container {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input-box {
  font-size: 20px;
  padding: 10px;
  margin: 0 30px;
  flex: 0.5;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s;
}

.input-box:hover {
  border-color: #feda8c;
}

.logo {
  width: 200px;
  transition: 0.3s;
  animation: logo-run 1s  ;
}

@keyframes logo-run {
  0%{
    transform: rotate(0deg)scale(50%);

  }

  100%{
    transform: rotate(360deg) scale(100%);

  }
}

@media (max-width:480px) {
  .home {
    margin-top: 10px;
  }

  .input-container {
    width: 100%;
    transition: 0.3s;
  }

  .input-box {
    font-size: 16px;
    flex: 1;
  }

  .logo {
    width: 150px;
    transition: 0.3s;
  }
}