.loginContainer {
    display: flex;
    margin: 0 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.loginForm {
    background: linear-gradient(135deg, #ffffff, rgb(241, 245, 249));
    border: 1px solid rgba(0, 0, 0, 0.187);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    gap: 5px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    color: #333333;
}

.formHeader{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.formHeader img{
    width: 35%;
    height: auto;
}

.formInput {
    padding: 5px;
    outline: none;
    border-radius: 5px;
     color: #333;
    border: 1px solid rgba(0, 0, 0, 0.462);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.formInput:focus {
    outline: none;
    border: 1px solid #5f84c9;
}

.loginButton {
    margin-top: 20px;
}

.loginContainer hr {
    margin-top: 20px;
    width: 100%;
    color: #333333;
}

 a:active{
    color: #333333;
}