
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  background-color: #283755;
  position: sticky;
  top: 0;
  z-index: 1000;

}

li {
  margin: 0 15px;
}

li a {
  color: #cdcdcd;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

li a:hover {
  border-bottom: 4px solid #feda8c;
  border-radius: 4px;
}

li a.active{
  border-bottom: 4px solid #feda8c;
}