.header {
  margin: 0;
  /* background-color: #283755; */
  /* background-color: #F2E8D5; */
  background-color: #333333;
  display: flex;
  padding: 10px;
}

.title {
  flex: 1;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navdiv {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #333333;
  transition: 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.navdiv.scrolled {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.navdiv ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(199, 199, 199);
  flex-wrap: wrap;
}

.navdiv li {
  margin: 0 15px;
}

.navdiv li a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.navdiv li a:hover {
  border-bottom: 4px solid #e0d5c2;
  color: #e0d5c2;
  font: 10px;
  transition: color 0.1s, border-bottom 0.1s;
}

li a.active {
  border-bottom: 4px solid #e0d5c2;
  color: #e0d5c2;
}


@media (max-width:480px) {
  .title {
    font-size: 1.8rem;
  }

  .navdiv ul {
    padding: 5px 0;
  }

  .navdiv li a {
    padding: 10px 15px;
  }
}