.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.searchBar {
    flex: 0.4;
    padding: 10px;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0 25px 25px 0;
    outline: none;
    transition: 0.3s;
}

#filter {
    flex: 0.1;
    padding: 10px;
    border: none;
    text-align: center;
    outline: none;
    border-radius: 25px 0 0 25px;
    font-size: 20px;
    transition: 0.3s;
}

#filter:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.CardsContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.noProducts {
    flex: 0.4;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin: 10% auto;
}

.link {
    text-decoration: none;
    color: inherit;
    flex: 0 1 300px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    text-align: left;
    padding: 20px;
    transition: 0.3s linear;
}

.link:hover {
    transform: scale(0.95);
    box-shadow: 10px 5px 10px 2px rgba(0, 0, 0, 0.356);
}


@media (max-width: 480px) {
    .searchBox {
        flex-direction: column;
    }

    .searchBar {
        font-size: 16px;
        border-radius: 20px;
    }

    #filter {
        font-size: 16px;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .noProducts {
        flex: 1;
        margin: 20px auto;
    }

}