@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  /* background-color: #1b263b ; blu*/
  background-color: #F4F4F4;
  /* background-color: #F2E8D5;  sabbia*/
  /* background-color: #e3d9c6; caramello*/


  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-size: 15px;
  color: white;
  outline: none;
  /* background-color: #feda8c; giallo*/
  background-color: #333333;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 30px;
}

button:hover {
  /* background-color: #cbae6e; */
  background-color: #575757;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.wishlistButton{
  color: #333333;
  background-color: white;
}

.wishlistButton:hover{
  color: white;
  background-color: #333333;
}
